<!-- basic layout for instructions -->
<h1>Experiment Complete</h1>
<div id="container-instructions">
</div>
<div class="questionnaire">
    <form id="postquiz" action="debrief" method="post">
            <div class="question">
                <p class="questiontext">
                <b>CI SERVONO DATI ATTENDIBILI.</b><br />
                Ti sei servito di aiuti esterni per portare a termine il compito, come carta e penna,
                screenshots o altri mezzi di registrazione? C’è qualche altra ragione per cui il tuo 
                risultato dovrebbe essere escluso dalla ricerca?
                </p>
                <textarea id="externalaids" cols=80 rows=3 /></textarea>
            </div>
    </form>
	<button id=btn-submit class="btn btn-default btn-lg">Submit</button>
    
</div>



