<!--<div id="container-instructions">
</div>-->
<div id="container-exp">
<div class="questionnaire">
    <form id="postquiz" action="debrief" method="post">
         <h2>Benvenuto!</h2>
         <p>Prima di iniziare, per favore rispondi alle seguenti domande:</p>

            
            <div style="margin:30px;">
                <p>
                Codice: <input type=text id="participantid" />
                </p>
                <p>
                Età: <input type=text id="age" />
                </p>
                <p>
                Sesso:
                <select id="gender" name="gender">
                    <option value="noresp" SELECTED></option>
                    <option value="female">F</option>
                    <option value="male">M</option>
                    <option value="skip">Non voglio specificare</option>
                </select>
                </p>

            </div>
    </form>
	<button id=btn-submit class="btn btn-default btn-lg">Submit</button>
</div>
            </div>

